<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
	<div class="container">
    <h1>Editar conviadado</h1>
    <form action="../salvar" method="post" th:object="${convidado}">
    <div class="form-group">
        Nome Convidado<br/>
        <input type="hidden" id="nome" name="nome" th:field="*{id}"><br/>
        <input type="text" id="nome" name="nome" th:field="*{nome}"><br/>
        </div>
        <div class="form-group"> 
        Quantidade de acompanhates<br/>
        <input type="number" name="acompanhate" th:fild="*{acompanhate}" id="acompanhate" ><br/>
        <input type="submit" value="Salvar"><br/>
        </div>
    </form>
    </div>
</body>
</html>